# Python server specific
/server/venv/
/server/__pycache__/
/server/.env
venv
*.pyc

#Landing Page
/byeai-landing

# Node.js / Extension specific
/node_modules/
npm-debug.log
yarn-error.log

# IDE and OS files
.vscode/
.idea/
*.DS_Store
Thumbs.db

#Mics
PID.txt
overview_arch.txt
.github
.gitignore
*.zip